/* General */
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto, sans-serif;
}

h1, h2 {
    margin: 0;
}

button {
    color: #f9faf8;
    background-color: #3882f6;
    padding: 4px 12px;
    border: 4px solid #3882f6;
    border-radius: 4px;
}

.body-box {
    display: flex;
    padding: 10px 120px;
}

/* Header Box */
.header-box {
    flex: none;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937
}

.link-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.header-box a {
    height: 40px;
    margin: 0 12px;
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.header-box h2 {
    font-size: 24px;
    color: #f9faf8;
}

/* First Box */
.first-box {
    flex: none;
    justify-content: center;
    background-color: #1f2937;
    padding-top: 40px;
    padding-bottom: 60px;
}

.site-title-box {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.first-box h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.first-box p {
    color: #e5e7eb;
}

.first-box img {
    flex: none;
    height: 240px;
    width: auto;
    margin-left: 20px;
    background-color: #e5e7eb;
}

/* Info Box */
.info-box {
    flex: none;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 60px;
}

.info-box h1 {
    font-size: 32px;
    font-weight: 900;
    color: #1f2937;
}

.info-card-container {
    display: flex;
}

.info-card {
    flex: 0 1 auto;
    padding: 20px;
}

.info-card img {
    width: 120px;
    height: 120px;
    border: 4px solid #3882f6;
    border-radius: 8px;
}

.info-card p {
    width: 120px;
    color: #1f2937;
}

/* Qutoe Box */
.quote-box {
    flex: none;
    flex-direction: column;
    align-items: flex-center;
    padding-top: 40px;
    padding-bottom: 60px;
    background-color: #e5e7eb;
}

.quote-box p {
    margin-top: 40px;
    text-align: center;
}

.quote-box em {
    font-size: 36px;
    font-weight: 100;
    color: #1f2937;
}

.quote-box div {
    align-self: flex-end;
    font-size: 20px;
    font-weight: bold;
    color: #1f2937;
}

/* Signup Box */
.signup-box {
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    padding: 20px 40px;
    border-radius: 8px;
    color: #f9faf8;
    background-color: #3882f6;
}

.signup-box button {
    margin-left: 40px;
    border-width: 2px;
    border-color: #f9faf8;
}

/* Footer Box */
.footer-box {
    flex: none;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: #e5e7eb;
    background-color: #1f2937;
}
